.FormClassPro{
    margin: 20px;
    padding: 20px;
    border: 1px soild black;
    text-shadow:black  2px;
    background-color:azure;
}
.form-controls .InvalidClass {
    border-color: red;
    background-color: rgb(243, 206, 206);
}
.form-controls .InvalidClass {
    color: red;
}